@charset "UTF-8";

/* tipical device break points:
pequenas telas: até 600px
celular: de 600px até 768px
tablet/ipads: 768px até 992px
desktop: de 992px até 1200px
grandes telas/tvs: acima de 1200px
*/

@media screen and (min-width:768px) {
    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }

    main {
        width: 768px
    }
}
