@charset "utf-8";

* {
    font-family:Arial, Helvetica, sans-serif ;
   /* height: 100% */
}

body {
    background-image: linear-gradient(to top, #45C4B0, #DAFDBA);
}

Main {
         background-color:white;  /* parte escrita */
         width: 600px;     /*largura do documento */
         padding: 10px;  /* margem */
         margin: auto; /* centralização do texto */
         border-radius: 15px; /* arredondamento de cantos */
         box-shadow:10px 10px 10px #6aa2baa0 /* sombras no documento */
    }

p {
    text-align: justify;
}

h1 {
    color:#13678A ;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.233);
}

h2 {
    color:#13678A ;

}